/* FOOTER */
footer {
    background-color: #f5f5f5;
    color: #000000;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    max-width: 800px;
    line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: inherit; 
  cursor: pointer; 
  font-weight: bold;
}

/* RESPONSIVE DESIGN - MOBILE */
@media only screen and (max-width: 768px) {
    /* FOOTER MOBILE */
    footer {
        padding: 20px 10px;
    }
    
    footer p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    /* FOOTER MOBILE */
    footer p {
        font-size: 14px;
    }
}