* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: clip;
    font-family: 'Lato', sans-serif;      
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

section {
    scroll-margin-top: 70px;
}